[api]
enabled = false

[sources.docker]
type = "docker_logs"
include_images = [
  "ghcr.io/grassrootseconomics/cic-chain-events/cic-chain-events",
  "ghcr.io/grassrootseconomics/cic-custodial/cic-custodial"
]

[sinks.uptrace]
type = "http"
inputs = ["docker"]
encoding.codec = "json"
framing.method = "newline_delimited"
compression = "gzip"
# Fill in this part
uri = ""
request.headers.uptrace-dsn = ""