NOTIFY_CHAIN__RPC_ENDPOINT=
NOTIFY_AT__API_KEY=
NOTIFY_AT__USERNAME=
NOTIFY_AT__SANDBOX=
NOTIFY_AT__SHORTCODE=
NOTIFY_AT__WEBHOOK_SECRET=
NOTIFY_TG__BOT_TOKEN=
NOTIFY_HASURA__ADMIN_SECRET=
NOTIFY_HASURA__ENDPOINT=
NOTIFY_POSTGRES__DSN=
NOTIFY_ASYNQ__DSN=
NOTIFY_JETSTREAM__ENDPOINT=